html,
body {
  padding: 0;
  margin: 0;
  background-color: #e9edf7;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.expanded .line1 {
  transform: rotate(-45deg) translate(-12px, 8px);
}

.expanded .line2 {
  transform: rotate(45deg) translate(4px, -16px);
}

.navbarin {
  animation: translate 0.5s;
}

@keyframes translate {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
